.nav {
  align-items: center;
  padding: auto;
}

:root{
  --primary-color: rgb(105, 0, 128);
}
.link{
  background-color: var(--primary-color);
  border: 0.5rem;
  color: white;
  text-decoration: none;
}